.footer {
  text-align: right;
  margin: 0px;
  padding: 10px;
  padding-top: 10px;
  background-color: #023d68;
  font-size: 25px;
  color: #000000;
  height: auto;
  list-style-type: none;
}
.footer_button {
  padding-right: 20px;
  padding-top: 10px;
  background-color: #023d68;
  height: 70px;
  position: fixed; /* 하단고정 */
  bottom: 0; /* 하단고정 */
  width: 100%;
}
.order_link {
  color: #ffffff;
  text-decoration: none;
  font-size: 30px;
  padding-right: 20px;
  margin-top: 10px;
}
